*
!.gitignore
!config.org
!init.el
!early-init.el
!pre-early-init.el
!post-early-init.el
!post-init.el
!lisp/
!lisp/*.el
!lisp/custom/
!lisp/custom/*.el
!/straight/versions/default.el

# Preserve the original personal configuration during migration.
/backup/
